.App{
    width: 100%;
    height: 100vh;
    background-color: #0b131e;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1%;
}
a{
    text-decoration: none;
    display: inherit;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100vh;

    background-color: #0b131e;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Homepage_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    overflow: hidden;
    align-items: center;
    overflow: hidden;
   gap:15%;
   transition: transform 0.5s ease-in-out;
   background-color: #0b131e;
}



.Homepage_image{
    width: 45%;
    height: 90%;
    border-radius: 35px;
}


.Homepage_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 50%;
    float: right;
}

.Homepage_title img{
    width: 30%;
    height: 20%;
}

.Homepage_title h1{
    font-size: 4.5em;
    margin: 0;
    color: #ffffff;
}
.Homepage_title p{
    color: #ffffffa1;
    font-size: 1.5em;
}


.Homepage_title button{
    cursor: pointer;
    background-color:#0095ff ;
    border-radius: 35px;
    margin-top: 20%;
    width: 40%;
    border: none;
    color: #fff;
    font-weight: bold;
    height: 10%;
}



.sidebar_wrapper{
    width: 6%;
    height: 100%;
    border-radius: 35px;
    background-color: #202b3b;
    box-sizing: border-box;
    padding: 1%;
    float: left;
    z-index: 9999;
}



.sidebar_logo{
    display: block;
    margin: auto;
    width: 80%;
    height: 9%;
}

.sidebar__navigation{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 100%;
    gap: 3%;

}


.deactivated{
    display: none;
}
.hidden{
    transform: translateX(100%);
 }

.nav_item{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #9399a2;
    cursor: pointer;

}
.nav_item:hover{
    color: #fff;
}
.nav_item img{
    height: 30%;
    width:100%;
}




.MainPage_wrapper{
    width: 92%;
    float: right;
    height: 100%;
}
.City_search__form{
    width: 70%;
    height: 7%;
    border-radius: 35px;
    background-color: #202b3b;
}
.City_search__form input{
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
  height: 100%;
  box-sizing: border-box;
  padding: 2%;
  color: #fff;
  border-radius: 35px;
  background: transparent;
  border: none;
}

.MainPage__city_info{
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding: 2%;
    
}
.city_name{
    margin: 0;
    color: #fff;
    width: 100%;
    font-size: 3.5em;
    height: 40%;
}

.RainChanse{
    font-size: 1.2em;
    color: #9399a2;
    width: 100%;
    height: 10%;
    
}

.city_Temperature{
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 3.3em;
    font-weight: bold;
    color: #fff;
}

.city_info__image{
    float: right;
    width: 30%;
    height: 100%;
}
.City_info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    float: left;
}

.forecast_today_info{
    width: 100%;
    height: 30%;
    background-color: #202b3b;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 2%;
    transition: transform 0.5s ;
    
    




}



    .forecast_today_info p{
        font-weight: bold;
        color: #9399a2;
        height: 10%;
        margin: 0;
    }




    .forecast_today_main{
        width: 90%;
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .forecast_today__item{
        width: 15%;
        border-right: 3px solid #9399a254;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;


    }
    .forecast_today__item:last-child{
        border: none;
    }

    .forecast_today__item img{
        width: 80%;
        height: 30%;
    }
    .forecast_today__time{
        font-size: 1.3em;
    }

    .forecast_today__temperature{
        color: #fff !important;
        font-weight: bold;
        font-size: 2em;
        height: 10%;
        
    }

    .air_condition{
        width: 100%;
        margin-top: 2%;
        height: 35%;
        background-color: #202b3b;
        border-radius: 35px;
        box-sizing: border-box;
        padding: 2%;
        float: left;
        transition: all 0.3s ease-in-out;
    }
    .air_condition button{
        border-radius: 25px;
        border: none;
        cursor: pointer;
        float: right;
        width: 10%;
        height: 10%;
        background-color: #0095ff;
        color: #fff;
        font-weight: bold;
    }

    .air_condition p{
        float: left;
        font-weight: bold;
        color: #9399a2;
        height: 10%;
        margin-top: 0;
    }
    .air_condition__main{
        float: left;
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

.air_condition__item{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
.air_condition__item img{
    width: 30%;
    height: 70%;
}

.air_condition_item__text{
    display: flex;
    height: 100%;
    width: 70%;
   display: flex;
   flex-direction: column;
   gap: 15%;
}
.air_condition__title{
    width: 100%;
    height: 20%;
    font-size: 1.1em;
    font-weight: lighter !important
}

.air_condition__value{
    display: block;
    width: 100%;
    height: 20%;
    float: left;
    height: auto;
    font-size: 2.5em;
    color: #c5cdda !important;
}



.MainInfo_section{
    float: left;
    height: 100%;
    width: 70%;
}

.weekForecast{
    background-color: #202b3b;
    width: 28%;
    float: right;
    height: 95%;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weekForecast_title{
    font-weight: bold;
    color: #9399a2;
}


.weekForecast_item{
    height: 10%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weekForecast_item__day{
    width: 20%;
    color: #9399a2;
    font-size: 1.2em;
    
}

.weekForecast_item__weatherInfo{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    height: 100%;
}
.weekForecast_item__weatherInfo img{
    width:30%;
    height: 80%;

}
.weekForecast_item__weatherInfo p{
    font-size: 1.5em;
    color: #fff;
}

.weekForecast_item__temperature{
    width: 30%;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.MaxTemperature{
    font-weight: bold;
    color: #fff;
}

.MinTemperature{
    color: #9399a2 ; 
}





.WeatherInfo{
    background-color: #0b131e;
    width: 65%;
    height: 67%;
    position: absolute;
    z-index: 9999;
    color: #fff;
    bottom: 0;
    left: 8%;
    transform: translateY(100%);
}

.hiddenBlock{
    transform: translateX(-1000%);
}

.expanded{
    height: 60%;
    transform: translateY(-50%);
}

.expanded .air_condition__item{
    height: 25% !important;
    width: 50% !important;
}



.blockHidden{
    display: none;
}

.settings_wrapper{
    width: 70%;
    height: 100%;
    float: left;
    overflow: auto;

    -ms-overflow-style: none;  
    scrollbar-width: none;  
    
}
.settings_wrapper::-webkit-scrollbar {
    display: none;
  }

  .settings_wrapper
.units_wrapper{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    padding: 2%;
}

.units_wrapper h2{
    color: #fff;
    margin: 0;
    font-size: 2em;
    height: 10%;
}

.units__settings{
    width: 100%;
    height: 90%;
    background-color: #202b3b;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.units_item{
    width: 100%;
    height: 10%;
    color: #9399a2;
   
}

.units_item h3{
    margin: 0;
}

.units__item_setting{
    width: 100%;
    height: 90%;
    background-color: #0b131e;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    transition: all 0.6s ease-in-out;
   
}

.units__item_option{
    cursor: pointer;
    flex: 1;
   display: flex;
}

.units__item_option p{
    margin: auto;
}

.active{
    font-weight: bold;
    color: #fff;
    background-color:#35455e ;
    border-radius: 15px;
}

.settingWrapper{
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding: 2%;

}


.settingWrapper h2{
    color: #fff;
    font-size: 2em;
    height: 10%;
}

.mainSettings{
    height: 90%;
    width: 100%;
    background-color: #202b3b;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textSettings{
    width: 30%;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textSettings p{
    margin: 0;
    color: #9399a2;
}


.toggler{
    width: 10%;
    height: 100%;
    float: right;
    display: flex;
}



.toggle-switch {
    width: 80%;
    margin: auto;
    height: 40%;
    background-color: #d1d1d1;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
    border-radius: 50px;
  }
  
  .switch {
    width: 40%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
    transition: left 0.2s;
  }
  
  .toggle-switch.on {
    background-color: #0095ff;
  }
  
  .toggle-switch.off .switch {
    left: 5%;
  }
  
  .toggle-switch.on .switch {
    left: 55%;
  }
  
  .general_text {
    display: flex;
    justify-content: center;
  }
  
 .Settings{
    width: 100%;
    height: 100%;
 }

 .premium_plan{
    width: 20%;
    float: right;
    height: 50%;
    border-radius: 35px;
    background-color: #202b3b;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 1%;
    color: #9399a2;
 }

 .premium_plan h2{
    font-size: 3em;
    margin-top: 0;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #9399a2;
 }
 .premium_plan h3{
    color: #fff;
    font-size: 1.5em;
 }
 .premium_plan button{
    width: 100%;
    cursor: pointer;
    height: 25%;
    font-size: 2em;;
    font-weight: bold;
    color: #fff;
    border-radius: 35px;
    background-color:#35455e ;
    border: none;
    margin-top: 10%;
 }

 .premium_plan button p{
    margin: 0;
    color: #9399a2;
    font-weight: 300;
 }


 .github_page{
    width: 20%;
    float: right;
    height: 30%;
    border-radius: 35px;
    background-color: #202b3b;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 1%;
    color: #9399a2;
 }

 .github_page h2{
    font-size: 2em;
    margin-top: 0;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #9399a2;
 }
 .github_page h3{
    color: #fff;
    font-size: 1.5em;
 }
.github_page p{
    height: auto;
    width: 100%;
    margin: 0;
}
.github_page a{
    height: 5vh;
}
 .github_page button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border-radius: 35px;
    background-color:#3a83f9 ;
    border: none;
    margin-top: 10%;
 }




.map_wrapper{
    width: 60%;
    margin-left: 3%;
    float: left;
    height: 100%;
}

.map_search{
    width: 100%;
}
.map_main{
    width: 100%;
    height: 80%;
    border-radius: 35px;
    margin-top: 5%;
}

.marker_button{
    opacity: 0;
}


.city_list{
    width: 30%;
    height: 90%;
    margin-top: 5%;
    float: right;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.city_list::-webkit-scrollbar {
    display: none;
}
.city_list__item{
    width: 100%;
    height: 10%;
    background-color: #202b3b;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    
}
.city_list__item img{
    width: 20%;
    height: 100%;
}
.city_list__text{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
    height: 100%;
    color: #9399a2;
}

.city_list__text h2{
    color: #fff;
    margin: 0;
}
.city_list__text p{
    margin: 0;
}
.city_list__temperature{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}








@media screen and (max-width: 950px) {
    html, body {
      overflow: auto;
      box-sizing: border-box;
      height: auto !important;
    }
  
    .App {
      overflow: auto;
    }
  
    .Homepage_wrapper {
      flex-direction: column;
      padding: 10%;
    }
  
    .Homepage_image {
      width: 80%;
      height: 40%;
    }
  
    .Homepage_title {
      width: 80%;
    }
  
    .Homepage_title button {
      margin-top: 0;
    }
  
    .sidebar_wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 6%;
      width: 100%;
      border-radius: 0;
      z-index: 90;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #141a23;
    }
  
    .nav_item p {
      display: none;
    }
  
    .sidebar_logo {
      display: block;
      width: 10%;
      height: 100%;
    }
  
    .sidebar__navigation {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      gap: 0;
    }
  
    .MainInfo_section {
      float: none;
      height: 100%;
      width: 100%;
    }
  
    .city_name {
      font-size: 2.5em;
    }
  
    .weekForecast {
      width: 100%;
      margin-top: 10%;
    }
  
    .MainPage_wrapper {
      width: 100%;
      float: none;
    }
  
    .City_search__form {
      margin-top: 20%;
      margin-bottom: 10%;
      width: 100%;
    }
  
    .nav_item {
      width: 10%;
      height: 100%;
      display: flex;
      font-size: 0.4em;
      font-weight: bold;
      color: #9399a2;
      cursor: pointer;
      margin: 0;
    }
  
    .nav_item:hover {
      color: #fff;
    }
  
    .nav_item img {
      height: 100%;
    }
  
    .forecast_today_info {
      padding: 5%;
      height: auto;
    }
  
    .forecast_today_main {
      flex-direction: column;
      width: 100%;
    }
  
    .air_condition {
      padding: 5%;
    }
  
    .air_condition button {
      width: 40%;
    }
  
    .air_condition__main {
      width: 100%;
      justify-content: space-around;
    }
  
    .forecast_today__item {
      width: 100%;
      flex-direction: row;
      border-right: none;
      margin-bottom: 10%;
    }
  
    .forecast_today__item img {
      width: 20%;
    }
  
    .weekForecast {
      padding-bottom: 15%;
    }
  
    .map_wrapper {
      float: none;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding: 5%;
      height: 70%;
    }
  
    .city_list {
      width: 100%;
      margin-top: 15%;
      height: auto;
      margin-bottom: 15%;
    }
  
    .city_list__item {
      height: 10vh;
    }
  
    .settings_wrapper .units_wrapper {
      height: 50vh;
    }
  
    .settings_wrapper {
      float: none;
      width: 100%;
      height: auto;
    }
  
    .units_wrapper {
      margin-top: 25%;
    }
  
    .premium_plan {
      float: none;
      width: 100%;
    }
  
    .air_condition__value {
      font-size: 1.3em;
    }
  
    .air_condition_item__text {
      gap: 0;
    }
  
    .premium_plan button {
      height: auto;
    }
  
    .github_page {
      float: none;
      width: 100%;
      height: 30vh;
      border-radius: 0;
    }
  
    .toggle-switch {
      height: 60%;
      width: 100%;
    }
  
    .notification_settings {
      padding: 4%;
      box-sizing: border-box;
    }
  
    .toggler {
      height: auto;
      width: 30% !important;
    }
  }
  
  @media screen and (max-width: 1600px) {
    .toggler {
      height: auto;
      width: 20%;
    }
  
    .weekForecast_item__day {
      width: auto;
    }
  
    .forecast_today_main {
      width: 100%;
    }
  
    .Homepage_title {
      width: 30%;
    }
  
    .weekForecast_item__temperature {
      font-size: 1em;
    }
  
    .forecast_today__temperature {
      height: auto;
      font-size: 1.3em;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .Homepage_title {
      width: 40%;
    }
  
    .weekForecast_item {
      font-size: 0.9em;
    }
  
    .weekForecast_item__weatherInfo p {
      font-size: 1em;
    }
  
    .premium_plan {
      height: auto;
    }
  
    .premium_plan h2 {
      font-size: 2.5em;
    }
  
    .premium_plan button {
      height: auto;
    }
  
    .mainSettings {
      height: 60%;
    }
    .Homepage_title button{
        width: 100%;
    }
  }
  